<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right pull-right">
        <li class="dropdown">
            <span>
                <i class="fa fa-clock-o"></i>
                <span class="relog-content"></span>
            </span>
        </li>
        <li>
            <span class="m-r-sm text-muted welcome-message"> Bienvenido: </span>
        </li>
        <li>
            <span>
                <img alt="image" class="img-circle circle-border-min"
                    src="https://esumweb.unfv.edu.pe/Archive/FTAlumnos/default.jpg"
                    style="width: 35px;height: 35px;" data-toggle="tooltip" data-placement="bottom"
                    title="VILELA ZARATE ESTEFANO FELIPE" data-original-title="VILELA ZARATE ESTEFANO FELIPE" />
            </span>
        </li>
        <li class="dropdown">
            <a class="count-info" data-toggle="modal" href="#" data-target="#myModalClose">
                <i class="fa fa-power-off"></i>
                Salir
            </a>
        </li>
    </ul>
    <div class="modal inmodal" id="myModalClose" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <i class="fa fa-power-off modal-icon" style="color: #1ab394 !important;"></i>
                </div>
                <div class="modal-body text-center">
                    <h3>¿Está seguro de cerrar sesión?</h3>
                    <small> Se cerraran todas las ventanas, y te direccionaremos al login.</small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnOkCerrarSesion">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</nav>