<!--Container Menu-->
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<img alt="image" class="img-circle circle-border-min"
							src="https://esumweb.unfv.edu.pe/Archive/FTAlumnos/default.jpg"
							style=" width: 50px;height: 50px;" />
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold">VILELA ZARATE ESTEFANO</strong>
							</span>
							<span class="text-muted text-xs block"><a href="#"><i class="fa fa-circle text-info"></i> En
									l&iacute;nea</a></span>
						</span>
					</a>
				</div>
				<div class="logo-element">
					SUM+
				</div>
			</li>
			<!--Generate Menu-->
			<li class="active">
				<a class="action">
					<i class="fa fa-home"></i>
					<span class="nav-label">Inicio</span>
				</a>
			</li>
			<li>
				<a><i class="fa fa-user"></i> <span class="nav-label">Mi Informaci&oacute;n</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a class="action" data-controller="Perfil/Index" href="#/Perfil"><i class="fa fa-user"></i>Mi Perfil</a></li>
					<li><a class="action" data-controller="Perfil/Contrasenia" href="#/Seguridad"><i class="fa fa-qrcode"></i>Contrase&ntilde;a</a></li>
					<li><a class="action" data-controller="Contactos/Index" href="#/Contactos"><i class="fa fa-slideshare"></i>Mis Contactos</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-bank"></i> <span class="nav-label">Mis Asignaturas</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a class="action" data-controller="Asignatura/Index" href="#/Asignaturas"><i class="fa fa-cubes"></i>Asignaturas</a></li>
					<li><a class="action" data-controller="ReporteRecord/Index" href="#/Record"><i class="fa fa-file-pdf-o"></i>Record Acad&eacute;mico</a></li>
					<li><a class="action" data-controller="ReporteFicMatricula/Index" href="#/FichaMatricula"><i class="fa fa-file-pdf-o"></i>Ficha de Matr&iacute;cula</a></li>
					<li><a class="action" data-controller="ReporteBolNotas/Index" href="#/BoletaNotas"><i class="fa fa-file-pdf-o"></i>Boleta de Notas</a></li>
					<li><a class="action" data-controller="Silabu/Index" href="#/Silabu"><i class="fa fa-book"></i>S&iacute;labos</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-briefcase"></i> <span class="nav-label">Matr&iacute;cula en L&iacute;nea</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a class="action" data-controller="Pago/Index" href="#/Pagos"><i class="fa fa-credit-card"></i>Pagos<span class="label label-primary pull-right">Paso 1</span></a></li>
					<li><a class="action" data-controller="Matricula/Index" href="#/Periodo"><i class="fa fa-briefcase"></i>Periodo<span class="label label-primary pull-right">Paso 2</span></a></li>
					<li><a class="action" data-controller="MatriculaCurso/Index" href="#/Matricula"><i class="fa fa-mortar-board"></i>Cursos<span class="label label-primary pull-right">Paso 3</span></a></li>
				</ul>
			</li>
			<li>
				<a class="action" data-controller="Asistencia/Index" href="#/Asistencia"><i class="fa fa-tencent-weibo"></i> <span class="nav-label">Mis Asistencias</span></a>
			</li>
			<li>
				<a class="action" data-controller="Consulta/Index" href="#/Consulta"><i class="fa fa-bell"></i> <span class="nav-label">Mis Consultas</span></a>
			</li>
			<li>
				<a class="action" data-controller="SesionVirtual/Index" href="#/SesionVirtual"><i class="fa fa-laptop"></i> <span class="nav-label">Sesiones Virtuales</span></a>
			</li>
			<li>
				<a class="action" data-controller="Tramite/Index" href="#/Tramite"><i class="fa fa-bookmark-o"></i> <span class="nav-label">Mis Tr&aacute;mites</span></a>
			</li>
			<li>
				<a class="action" data-controller="Mallacurricular/Index" href="#/Mallacurricular"><i class="fa fa-tasks"></i> <span class="nav-label">Plan de Estudios</span></a>
			</li>
			<li>
				<a class="action" data-controller="Aula/Index" href="#/Aulas">
					<i class="fa fa-graduation-cap"></i>
					<span class="nav-label">Aula Virtual</span>
					<span class="label label-primary pull-right no-padding">
						
						<img src="/static/Content/img/logo-rimanakuy.png" width="70px;"/>
					</span>
				</a>
			</li>
			<li>
				<a data-toggle="modal" href="#" data-target="#myModalClose"><i class="fa fa-power-off"></i> <span class="nav-label">Salir</span></a>
			</li>
			<li>
				<a data-toggle="modal" href="#" data-target="#myModalClose"><i class="fa fa-power-off"></i> <span class="nav-label">Salir</span></a>
			</li>
		</ul>
	</div>
</nav>
<!--End Container Menu-->